.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
}

/* sandpack console */
.sp-c-iVbYez {
  height: 130px;
}

.framework {
  display: flex;
  align-items: center;
  gap: 8px;

  h3 {
    margin: 0;
  }
}

/* Dropdowns */

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding-right: 1rem;
}
